<div class="row">
    <div class="col-md-6 col-lg-3" *ngFor='let blogcard of blogcards'>
        <div class="card">
            <img [src]=blogcard.image alt="blogs" class="card-img-top">
            <div class="card-body" style="margin-bottom: 1rem;">
                <h4 class="card-title">{{blogcard.modelo}}</h4>
                <h6 class="card-subtitle">{{blogcard.marca}}</h6>
            </div>
            
            <div class ="position-relative" style="margin-bottom: 1rem; margin-left: 1rem; margin-right: 1rem;">
                <div class="position-absolute bottom-0 start-0">Precio:{{blogcard.precio}}</div>
                <div class="position-absolute bottom-0 end-0">
                <a href="/compras">
                    <button type="button" class="btn btn-primary" >Comprar</button>
                </a>
            </div>
            </div>

        </div>
    </div>
</div>