<div class="btn-group pe-4 pb-3">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
      aria-expanded="false">Marca</button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Acción</a></li>
      <li><a class="dropdown-item" href="#">Otra acción</a></li>
      <li><a class="dropdown-item" href="#">Algo más aquí.</a></li>
      <li>
          <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Enlace separado</a></li>
  </ul>
</div>

<div class="btn-group pe-4 pb-3">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
      aria-expanded="false">Color</button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Acción</a></li>
      <li><a class="dropdown-item" href="#">Otra acción</a></li>
      <li><a class="dropdown-item" href="#">Algo más aquí.</a></li>
      <li>
          <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Enlace separado</a></li>
  </ul>
</div>

<div class="btn-group pb-3">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
      aria-expanded="false">Localidad</button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Acción</a></li>
      <li><a class="dropdown-item" href="#">Otra acción</a></li>
      <li><a class="dropdown-item" href="#">Algo más aquí.</a></li>
      <li>
          <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Enlace separado</a></li>
  </ul>
</div>


